$clr-1 : #475aa8;
$clr-2 : #556068;
$clr-white : #fff;
$clr-yellow : #FFEB5C;
$bg-header-gradient : linear-gradient(to bottom right, rgba(48,35,174, .9) 10%, rgba(200,109,215, .67) 100%);
$accent-color : #3023AE;
$bg-footer-gradient: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
$serif: 'Cormorant Garamond','Cormorant', 'Halant', serif;
$serif-2: 'Vidaloka','Noto Serif',serif;
$sans-serif: "Karla","Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$clr-sub-heading: #434264;
$clr-title: #DE3163;

// new
$clr-f1: #f1f1f1;
$clr-grey: #556068;
$accent-color: #9b59b6;
$text-color: #2d3b48;
$plan-padding: 1rem;
$plan-margin: 1rem;
$background: #efefef;
$title-size: 1.45rem;
$price-size: 3rem;
$feature-size: 1rem;

body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    line-height: 1.7;
    font-size: 1.25rem;
    color: $clr-2;
    font-family: $sans-serif;
}

a {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: $serif-2;
    font-weight: 400;
    line-height: 1.5;
    color: $clr-sub-heading
}

h3{
	font-size: 1.75rem;
}
h5{
	font-size: 1.25rem;
}

.title{
	font-size: 2.875rem;
	font-weight: 400;
	color: $clr-title;
	margin-bottom: 2rem;
}
.clr-title{
	color: $clr-title !important;
}
p {
    color: $clr-2
}

a {
    -webkit-transition: color 0.5s cubic-bezier(1, 0, 0, 1);
    transition: color 0.5s cubic-bezier(1, 0, 0, 1)
}

b,
strong {
    font-weight: bolder
}

.lh-normal{
	line-height: 1.3 !important;
}

// Navbar ==================================================================================
.navbar {
	// background: $bg-header-gradient;
    // position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0.5rem 2rem;
    z-index: 99;
}

.navbar-brand {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 2rem;
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;
	img{
		height: 2rem;
	}
}

.navbar-toggler {
    vertical-align: middle
}

.nav-link-right {
	font-size: 0.7em;
    // background: transparent;
    border: 1px solid $accent-color;
    padding: 6px 14px;
    border-radius: 26px;
	fill: $accent-color;
    color: $accent-color;
    transition: all 300ms ease-in;
}

.nav-link-right:hover,
.nav-link-right:focus,
.nav-link-right:active {
	border: 1px solid darken($accent-color, 10%);
	fill: darken($accent-color, 10%);
    color: darken($accent-color, 10%);
    text-decoration: none
}

.nav-link-right svg {
    vertical-align: middle
}


// footer ========================================================
.footer {
    font-size: 0.875rem;
    background-color: #292b2c;
    color: rgba(255, 255, 255, 0.25);
    padding: 70px 0;
    letter-spacing: 1px
}

.footer a {
    color: rgba(255, 255, 255, 0.55)
}

.footer a:hover,
.footer a:focus {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none
}

.list-inline-item:not(:last-child) {
    margin-right: 2rem
}

.list-inline-item {
    display: inline-block
}

.footer p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.25) !important
}

.text-muted,
.descriptor {
    color: $clr-2
}


.btn {
    cursor: pointer;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .85rem;
    border-radius: 40px;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 275ms ease-in;
    transition: all 275ms ease-in
}

.btn:hover {
    -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2)
}

.bg-primary {
    background-color: #6273DB !important
}

.pb-6 {
    padding-bottom: 4rem
}

.heading {
    max-width: 90%
}

.heading-2 {
    max-width: 80%;
    font-weight: 500
}

.spacer {
    width: 50px;
    height: 1px;
    background-color: #4C515D;
    margin: 25px 0;
    display: block
}

.descriptor {
    font-size: 1.1rem
}

.descriptor-2 {
    max-width: 90%;
    font-size: 1rem
}

.max-icon {
    width: 36px;
    margin-top: 26px
}

.capitalize,
.hero-text {
    text-transform: capitalize
}

.row-md-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}
.py-custom {
    padding-top: 3rem;
    padding-bottom: 4.2rem
}

.title{
	font-size: 2.875rem;
	font-weight: 400;
	color: $clr-title;
	margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
	.title{
		font-size: 1.8rem;
	}
	h3{
		font-size: 1.5rem;
	}
	.pb-under-md-0{
		padding-bottom: 0 !important;
	}
    .row-md-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

 
}

.pointer{ cursor: pointer}

// Plan ======================================================================================

.plan-max-w{max-width: 30rem;}

.plan {
  padding: $plan-padding*3 0;
  background: white;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: $plan-margin;
  border-radius: 8px;
  border: 1px solid $clr-f1;
  overflow: hidden;
  box-shadow: 0 5px 30px -5px rgba(0,0,0,0.2);
  transition: all 200ms;
  &:hover{  box-shadow: 0 5px 30px -5px rgba(0,0,0,0.2), 0 0 200px -5px rgba(0,0,0,0.05);
}
  .paket{
  	max-width: calc(100% - 1rem);
  	border: none;
  	font-size: $title-size*1.2;
  	color: $accent-color;
  	font-weight: 700;
  	padding: $plan-padding;
  	cursor: pointer;
  	&:focus{
  		outline: 0;
  		 // box-shadow: 0 0 3px 2px rgba(0,0,0,0.1);
  	}

  }
  .titleContainer {
    background-color: transparent;
    .title {
      margin: 0;
      font-size: $title-size;
      text-transform: capitalize;
      color: $accent-color;
      font-weight: 700;
    }
    .price {
      position: relative;
      font-size: $price-size;
      color: $clr-grey;
      font-weight: 500;
      margin-top: 0;
      display: inline-block;
      width: 80%;
      p {
        font-size: $price-size;
        display: inline-block;
        margin: 0;
	      &:before{
	      	font-size: $price-size*0.85;
	      	content: 'Rp ';
	      }
      }
      span {
      	bottom: 0.5rem;
      	right: 0;
        font-size: $price-size*0.4;
        // position: absolute;
        display: block;
        color: lighten($clr-grey, 37%);
    	margin-top: -0.6rem;

        &:before{
        	// content: 'per ';
        	// position: absolute;
        	top: $price-size*-1;
        }
      }
    }
  }
  .infoContainer {
    padding: $plan-padding*2;
    color: $text-color;
    box-sizing: border-box;
    .desc {
      // padding: $plan-padding 0;
      border-bottom: 2px solid $background;
      margin: 0 auto;
      margin-bottom: $plan-margin;
      width: 90%;
      em {
        font-size: $feature-size;
        font-weight: 500;
      }
    }
    .features {
      font-size: $feature-size*0.875;
      list-style: none;
      padding-left: 0;
      li { 
        padding: $plan-padding/2;
        line-height: 1.3;
      }
      & li:nth-child(even){
      }
    }
    }
    .selectPlan {
      border: 2px solid $accent-color;
      padding: $plan-padding*0.75 $plan-padding;
      border-radius: $plan-padding*2.5;
      cursor: pointer;
      transition: all 0.25s;
      margin: auto;
      box-sizing: border-box;
      max-width: 70%;
      display: block;
      color: $accent-color !important;
      font-weight: 600;
      box-shadow: 0 1px 10px rgba(0,0,0,0.1);
      &:hover {
      	box-shadow: 0 3px 20px rgba(0,0,0,0.2);
        background-color: $accent-color;
        color: $clr-white !important;
      }
  	}
      .selectPlan2 {
      border: 2px solid $clr-title;
      padding: $plan-padding*0.75 $plan-padding;
      border-radius: $plan-padding*2.5;
      cursor: pointer;
      transition: all 0.25s;
      margin: auto;
      box-sizing: border-box;
      max-width: 70%;
      display: block;
      color: $clr-title !important;
      font-weight: 600;
      box-shadow: 0 1px 10px rgba(0,0,0,0.1);
      &:hover {
      	box-shadow: 0 3px 20px rgba(0,0,0,0.2);
        background-color: $clr-title;
        color: $clr-white !important;
      }
	}
}

@media screen and (max-width: 25em) {
  .planContainer {
    margin: 0;
    .plan {
      width: 100%;
      margin: $plan-margin 0;
    }
  }
}