body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.7;
  font-size: 1.25rem;
  color: #556068;
  font-family: "Karla", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: "Vidaloka", "Noto Serif", serif;
  font-weight: 400;
  line-height: 1.5;
  color: #434264; }

h3 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.25rem; }

.title {
  font-size: 2.875rem;
  font-weight: 400;
  color: #DE3163;
  margin-bottom: 2rem; }

.clr-title {
  color: #DE3163 !important; }

p {
  color: #556068; }

a {
  -webkit-transition: color 0.5s cubic-bezier(1, 0, 0, 1);
  transition: color 0.5s cubic-bezier(1, 0, 0, 1); }

b,
strong {
  font-weight: bolder; }

.lh-normal {
  line-height: 1.3 !important; }

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0.5rem 2rem;
  z-index: 99; }

.navbar-brand {
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 2rem;
  font-size: 1rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand img {
    height: 2rem; }

.navbar-toggler {
  vertical-align: middle; }

.nav-link-right {
  font-size: 0.7em;
  border: 1px solid #9b59b6;
  padding: 6px 14px;
  border-radius: 26px;
  fill: #9b59b6;
  color: #9b59b6;
  transition: all 300ms ease-in; }

.nav-link-right:hover,
.nav-link-right:focus,
.nav-link-right:active {
  border: 1px solid #804399;
  fill: #804399;
  color: #804399;
  text-decoration: none; }

.nav-link-right svg {
  vertical-align: middle; }

.footer {
  font-size: 0.875rem;
  background-color: #292b2c;
  color: rgba(255, 255, 255, 0.25);
  padding: 70px 0;
  letter-spacing: 1px; }

.footer a {
  color: rgba(255, 255, 255, 0.55); }

.footer a:hover,
.footer a:focus {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none; }

.list-inline-item:not(:last-child) {
  margin-right: 2rem; }

.list-inline-item {
  display: inline-block; }

.footer p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.25) !important; }

.text-muted,
.descriptor {
  color: #556068; }

.btn {
  cursor: pointer;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .85rem;
  border-radius: 40px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 275ms ease-in;
  transition: all 275ms ease-in; }

.btn:hover {
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); }

.bg-primary {
  background-color: #6273DB !important; }

.pb-6 {
  padding-bottom: 4rem; }

.heading {
  max-width: 90%; }

.heading-2 {
  max-width: 80%;
  font-weight: 500; }

.spacer {
  width: 50px;
  height: 1px;
  background-color: #4C515D;
  margin: 25px 0;
  display: block; }

.descriptor {
  font-size: 1.1rem; }

.descriptor-2 {
  max-width: 90%;
  font-size: 1rem; }

.max-icon {
  width: 36px;
  margin-top: 26px; }

.capitalize,
.hero-text {
  text-transform: capitalize; }

.row-md-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.py-custom {
  padding-top: 3rem;
  padding-bottom: 4.2rem; }

.title {
  font-size: 2.875rem;
  font-weight: 400;
  color: #DE3163;
  margin-bottom: 2rem; }

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.8rem; }
  h3 {
    font-size: 1.5rem; }
  .pb-under-md-0 {
    padding-bottom: 0 !important; }
  .row-md-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; } }

.pointer {
  cursor: pointer; }

.plan-max-w {
  max-width: 30rem; }

.plan {
  padding: 3rem 0;
  background: white;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #f1f1f1;
  overflow: hidden;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.2);
  transition: all 200ms; }
  .plan:hover {
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.2), 0 0 200px -5px rgba(0, 0, 0, 0.05); }
  .plan .paket {
    max-width: calc(100% - 1rem);
    border: none;
    font-size: 1.74rem;
    color: #9b59b6;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer; }
    .plan .paket:focus {
      outline: 0; }
  .plan .titleContainer {
    background-color: transparent; }
    .plan .titleContainer .title {
      margin: 0;
      font-size: 1.45rem;
      text-transform: capitalize;
      color: #9b59b6;
      font-weight: 700; }
    .plan .titleContainer .price {
      position: relative;
      font-size: 3rem;
      color: #556068;
      font-weight: 500;
      margin-top: 0;
      display: inline-block;
      width: 80%; }
      .plan .titleContainer .price p {
        font-size: 3rem;
        display: inline-block;
        margin: 0; }
        .plan .titleContainer .price p:before {
          font-size: 2.55rem;
          content: 'Rp '; }
      .plan .titleContainer .price span {
        bottom: 0.5rem;
        right: 0;
        font-size: 1.2rem;
        display: block;
        color: #b6bec4;
        margin-top: -0.6rem; }
        .plan .titleContainer .price span:before {
          top: -3rem; }
  .plan .infoContainer {
    padding: 2rem;
    color: #2d3b48;
    box-sizing: border-box; }
    .plan .infoContainer .desc {
      border-bottom: 2px solid #efefef;
      margin: 0 auto;
      margin-bottom: 1rem;
      width: 90%; }
      .plan .infoContainer .desc em {
        font-size: 1rem;
        font-weight: 500; }
    .plan .infoContainer .features {
      font-size: 0.875rem;
      list-style: none;
      padding-left: 0; }
      .plan .infoContainer .features li {
        padding: 0.5rem;
        line-height: 1.3; }
  .plan .selectPlan {
    border: 2px solid #9b59b6;
    padding: 0.75rem 1rem;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: all 0.25s;
    margin: auto;
    box-sizing: border-box;
    max-width: 70%;
    display: block;
    color: #9b59b6 !important;
    font-weight: 600;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); }
    .plan .selectPlan:hover {
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
      background-color: #9b59b6;
      color: #fff !important; }
  .plan .selectPlan2 {
    border: 2px solid #DE3163;
    padding: 0.75rem 1rem;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: all 0.25s;
    margin: auto;
    box-sizing: border-box;
    max-width: 70%;
    display: block;
    color: #DE3163 !important;
    font-weight: 600;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); }
    .plan .selectPlan2:hover {
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
      background-color: #DE3163;
      color: #fff !important; }

@media screen and (max-width: 25em) {
  .planContainer {
    margin: 0; }
    .planContainer .plan {
      width: 100%;
      margin: 1rem 0; } }
